#title   
{
    background-color: #ff4c68;
    color : #ffffff
}
h1
{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.25;
    

}
 body
{
    font-family: 'Montserrat', sans-serif;
    
}
.container-fluid
{
    padding: 3% 10% 3%;
}
.rotate 
{
    transform: rotate(25deg);
    width: 60%;
}
.navbar
{
    padding:0 0 4.5rem;
}
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold  ;
}
.door
{
   margin: 5% 3% 5% 0%; 
}
#features
{
    padding: 7% 15%;
}
.feature-box
{
    text-align: center;
    padding:5%;
}
h3
{
    font-family: 'montserrat-bold', sans-serif;
}
p
{
    color: #8f8f8f;
}
.icon
{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover
{
    color: #ff4c68;
}